<!DOCTYPE html>

<html>

<head>
    <title>Company Product Categories</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{productCategories}}
        <br>
        {{!-- {{#each productCategories}}
            result:{{id}}-{{name}}<br>
        {{/each}} --}}
    </div>
    
    {{>footer}}
</body>

</html>