<!DOCTYPE html>

<html>

<head>
    <title>Leaderboards</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <br>
        {{leaders}}
        {{#each leaders}}
            result:{{name}}-{{quantity}}<br>
        {{/each}}
        {{#each people}}
            <li>{{this}}</li>
        {{/each}}
    </div>
    <br>
    <br>
    {{>footer}}
</body>

</html>