<!DOCTYPE html>

<html>

<head>
    <title>Company</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form action="/company/create" method="post" name="form1">
            name:&nbsp;<input type="text" id="name" name="name" value="Denis Company" /><br>
            website:&nbsp;<input type="text" name="website" value="www.deniscalixto.com" /><br>
            city:&nbsp;<input type="text" name="city" value="Vancouver" /><br>
            province:&nbsp;<input type="text" name="province" value="BC" /><br>
            address:&nbsp;<input type="text" name="address" value="1255 Bidwell Street" /><br>
            expiringItemsNote:&nbsp;<input type="text" name="expiringItemsNote" value="your life is expiring" /><br>
            provideReusableItemsNotes:&nbsp;<input type="text" name="provideReusableItemsNotes" value="provide your soul" /><br>
            recentHistory:&nbsp;<input type="text" name="recentHistory" value="history of fear" /><br>
            comments:&nbsp;<input type="text" name="comments" value="comments of shame" /><br>
            loosePercentage:&nbsp;<input type="text" name="loosePercentage" value="100% wrong" /><br>
            discountExpiringItems:&nbsp;<input type="text" name="discountExpiringItems" value="1" /><br>
            donateExpiringItems:&nbsp;<input type="text" name="donateExpiringItems" value="1" /><br>
            throwOutExpiringItems:&nbsp;<input type="text" name="throwOutExpiringItems" value="1" /><br>
            sellInBulk:&nbsp;<input type="text" name="sellInBulk" value="1" /><br>
            byo:&nbsp;<input type="text" name="byo" value="Hell no!" /><br>
            extraChargeSingleItem:&nbsp;<input type="text" name="extraChargeSingleItem" value="1" /><br>
            provideReusableItems:&nbsp;<input type="text" name="provideReusableItems" value="1" /><br>
            employeesUseSingleUseItems:&nbsp;<input type="text" name="employeesUseSingleUseItems" value="1" /><br>
            employeesSingleUseItemsNotes:&nbsp;<input type="text" name="employeesSingleUseItemsNotes" value="they can use whatever they want" /><br>
            <br><br>
            Product Categories
            <br><br>
            <table>
                <tr><td>Beverages, beverage mixes&nbsp;<input name="category19" type="radio" min="0" max="100" value="0" checked><input name="category19" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Candy and snacks (no candy-wrapper)&nbsp;<input name="category6" type="radio" min="0" max="100" value="0" checked><input name="category6" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Candy and snacks (with candy-wrappers)&nbsp;<input name="category7" type="radio" min="0" max="100" value="0" checked><input name="category7" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Cheese&nbsp;<input name="category17" type="radio" min="0" max="100" value="0" checked><input name="category17" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Chocolate&nbsp;<input name="category8" type="radio" min="0" max="100" value="0" checked><input name="category8" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Cleaning products&nbsp;<input name="category2" type="radio" min="0" max="100" value="0" checked><input name="category2" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Cooking oil, vinegar&nbsp;<input name="category3" type="radio" min="0" max="100" value="0" checked><input name="category3" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Dried fruits, vegetables&nbsp;<input name="category5" type="radio" min="0" max="100" value="0" checked><input name="category5" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Fish&nbsp;<input name="category14" type="radio" min="0" max="100" value="0" checked><input name="category14" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Flour, sugar, spices, baking ingredients, baking mixes&nbsp;<input name="category10" type="radio" min="0" max="100" value="0" checked><input name="category10" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Fresh fruits, vegetables&nbsp;<input name="category4" type="radio" min="0" max="100" value="0" checked><input name="category4" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Jams, peanut butter, and other spreads&nbsp;<input name="category12" type="radio" min="0" max="100" value="0" checked><input name="category12" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Meat&nbsp;<input name="category13" type="radio" min="0" max="100" value="0" checked><input name="category13" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Milk&nbsp;<input name="category15" type="radio" min="0" max="100" value="0" checked><input name="category15" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Noodles, rice, beans&nbsp;<input name="category11" type="radio" min="0" max="100" value="0" checked><input name="category11" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Nuts, cereals, grains&nbsp;<input name="category9" type="radio" min="0" max="100" value="0" checked><input name="category9" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Pet food&nbsp;<input name="category21" type="radio" min="0" max="100" value="0" checked><input name="category21" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Soap, Shampoo&nbsp;<input name="category1" type="radio" min="0" max="100" value="0" checked><input name="category1" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Supplements&nbsp;<input name="category20" type="radio" min="0" max="100" value="0" checked><input name="category20" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Tea, coffee&nbsp;<input name="category18" type="radio" min="0" max="100" value="0" checked><input name="category18" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Yoghurt&nbsp;<input name="category16" type="radio" min="0" max="100" value="0" checked><input name="category16" type="radio" min="0" max="100" value="1"></td></tr>
            </table>
            <br><br>
            Bulk Strategies            
            <br><br>
            <table>
                <tr><td>Customers are required to bring their own containers.&nbsp;<input name="strategy1" type="radio" min="0" max="100" value="0" checked><input name="strategy1" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Customers are actively encouraged to bring their own containers. Staff members are required to mention the BYO (bring your own) option to customers&nbsp;<input name="strategy2" type="radio" min="0" max="100" value="0" checked><input name="strategy2" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Customers can lease/rent containers that they return to our store.&nbsp;<input name="strategy3" type="radio" min="0" max="100" value="0" checked><input name="strategy3" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Customers can bring their own containers but aren not encouraged to do so.&nbsp;<input name="strategy4" type="radio" min="0" max="100" value="0" checked><input name="strategy4" type="radio" min="0" max="100" value="1"></td></tr>
                <tr><td>Customers fill single-use containers (e.g. plastic/paper bags).&nbsp;<input name="strategy5" type="radio" min="0" max="100" value="0" checked><input name="strategy5" type="radio" min="0" max="100" value="1"></td></tr>
            </table>
            <br><br>
            <input type="submit" value="Create Company">
        </form>
    </div>
    
    {{>footer}}
</body>

</html>