<!DOCTYPE html>

<html>

<head>
    <title>Search</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form action="/search" method="post" name="form1">
            Search:&nbsp;<input type="text" id="search" name="search" value="" />
            <br><br>
            <input type="submit" value="Search">
        </form>
        {{companies}}
    </div>
    
    {{>footer}}
</body>

</html>