<header>
    <h1>{{title}}</h1>

    <a href="/">Home</a>
    <a href="/guide">What is Zero Waste</a>
    <a href="/about">About Us</a>
    <a href="/contact">Get in Touch</a>
    <a href="/leaderboard">Leaderboards</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/refill">Refills</a>
    <a href="/search">Search</a>
</header>